<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img class="mb-4" src="{{ asset('build/images/logo-black.svg') }}" alt="" >
    </a>
    <span class="fs-4">Управление</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('app_admin_panel_news_list') }}" class="btn btn-blue nav-link active" aria-current="page">
                Новости
            </a>
        </li>
    </ul>
    <hr>
</div>