{% extends 'base.html.twig' %}

{% block body %}

<div class="main-page wrapper">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container px-5">
            <h1 class="text-white">Проверенное жильё находится здесь</h1>
            <div class="search-block">
                <div class="row px-5">
                    <div class="col-12">
                        {% include '/filter/panel.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/main/banners.html.twig' %}
{% include '/main/list_buildings.html.twig' %}
{% include '/main/slider_articles.html.twig' %}
{% include '/main/order_selection.html.twig' %}
{% include '/main/description_website.html.twig' %}
{% include '/main/popup/popup-feedback.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}