
{% block body %}
<section class="fast-search-block">
    <div class="cover-container bg-grey">
        <div class="container">
            <div class="d-flex pt-5 mx-5 pb-4">
                <h2 class="me-auto text-start">Быстрый поиск новостроек</h2>
            </div>
            <div class="list list-buildings text-start mx-5 pb-5">
                <div class="list_group"></div>
                {% if districts %}
                    {% for key, item in districts %}
                        <div class="list_group">
                            <h3>{{ key }}</h3>
                            {% for district in item %}
                                <div class="list-group_item">
                                    <a class="text-decoration-none text-muted fs-6" href="{{ path('app_complex_list', {'filter[location]': district.name}) }}">
                                        {{ district.name }} <b class="fs-6">{{ district.count }}</b>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}