
{% block body %}
<section class="fast-search-block">
    <div class="cover-container bg-grey">
        <div class="container">
            <div class="d-flex pt-5 mx-5 pb-4">
                <h2 class="me-auto text-start">Быстрый поиск новостроек</h2>
                <div class="tabs d-flex justify-content-center flex-wrap">
                    <button class="btn__blue btn__small m-2" data-id="metro-block fs-5">
                        <span class="fs-6">Метро</span>
                    </button>
                    <button class="btn__blue btn__small m-2" data-id="location-block">
                        <span class="fs-6">Район</span>
                    </button>
                </div>
            </div>
            <div class="list list-buildings text-start mx-5 pb-5">
                <div class="list_group"></div>
                <div class="list_group">
                    <h3>A</h3>
                    <div class="list-group_item">A disabled item</div>
                    <div class="list-group_item">A second item</div>
                    <div class="list-group_item">A third item</div>
                    <div class="list-group_item">A fourth item</div>
                    <div class="list-group_item">And a fifth one</div>
                </div>
                <div class="list_group">
                    <h3>A</h3>
                    <div class="list-group_item">A disabled item</div>
                    <div class="list-group_item">A second item</div>
                    <div class="list-group_item">A third item</div>
                    <div class="list-group_item">A fourth item</div>
                    <div class="list-group_item">And a fifth one</div>
                </div>
                <div class="list_group">
                    <h3>A</h3>
                    <div class="list-group_item">A disabled item</div>
                    <div class="list-group_item">A second item</div>
                    <div class="list-group_item">A third item</div>
                    <div class="list-group_item">A fourth item</div>
                    <div class="list-group_item">And a fifth one</div>
                </div>
                <div class="list_group">
                    <h3>A</h3>
                    <div class="list-group_item">A disabled item</div>
                    <div class="list-group_item">A second item</div>
                    <div class="list-group_item">A third item</div>
                    <div class="list-group_item">A fourth item</div>
                    <div class="list-group_item">And a fifth one</div>
                </div>
                <div class="list_group">
                    <h3>A</h3>
                    <div class="list-group_item">A disabled item</div>
                    <div class="list-group_item">A second item</div>
                    <div class="list-group_item">A third item</div>
                    <div class="list-group_item">A fourth item</div>
                    <div class="list-group_item">And a fifth one</div>
                </div>
                <div class="list_group">
                    <h3>A</h3>
                    <div class="list-group_item">A disabled item</div>
                    <div class="list-group_item">A second item</div>
                    <div class="list-group_item">A third item</div>
                    <div class="list-group_item">A fourth item</div>
                    <div class="list-group_item">And a fifth one</div>
                </div>
                <div class="list_group">
                    <h3>A</h3>
                    <div class="list-group_item">A disabled item</div>
                    <div class="list-group_item">A second item</div>
                    <div class="list-group_item">A third item</div>
                    <div class="list-group_item">A fourth item</div>
                    <div class="list-group_item">And a fifth one</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}