
{% block body %}
    <section class="section_articles_slider">
        <div class="cover-container">
            <div class="container pt-5 pb-5">
                <div class="d-flex mx-5 pb-4">
                    <h2 class="me-auto">Вам это будет интересно</h2>
                </div>
                <div class="mt-4 mb-5">
                    <div class="owl-carousel section_articles_slider__list" style="margin: auto;">
                        {% if articles %}
                            {% for article in articles %}
                                <a href="{{ path('app_article_one', {code: article.code}) }}">
                                <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                                    <div class="card-img">
                                        <img class="img-fluid" loading="lazy" src="{{ asset(article.photo) }}" alt="{{ article.title }}">
                                    </div>
                                    <div class="card-body text-start">
                                        <small class="section_articles_slider__list_item__header text-muted">12 декабря 2022</small>
                                        <p class="section_articles_slider__list_item__text card-text mt-3">{{ article.title }}</p>
                                    </div>
                                </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}