
{% block title %}Данные новости{% endblock %}

{% block body %}
    <div class="container col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <h1>Данные новости</h1>

        {% include 'admin/news/_edit.html.twig' %}
    </div>
{% endblock %}
