{% extends 'base.html.twig' %}

{% block title %}Новая новость{% endblock %}

{% block body %}
    <div class="container col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <h1>Новая новость</h1>

        {% include 'admin/news/_new.html.twig' %}
    </div>
{% endblock %}
