{% extends 'base.html.twig' %}

{% block title %}Политика конфиденциальности{% endblock %}
 {% block metaTag %}
     <meta name="description" content="Политика конфиденциальности">
 {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('building') }}
{% endblock %}

{% block body %}
    <section class="section__catalog_page">
        <div class="main-page wrapper">
            <div class="container px-5">
                <div class="search-block row px-5">
                    <div class="col-12">
                        {% include '/filter/panel.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include '/main/reklama/reklama_block_1.html.twig' %}
    <div class="container mt-5 px-5">
        <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb" class="mx-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Политика конфиденциальности</li>
            </ol>
        </nav>
    </div>
    <section class="section__article">
        <div class="container p-3 px-5">
            <div class="mb-5 d-flex flex-wrap">
                <div class="bg-white w-100 p-4">
                    <div class="building-block-title pb-4 text-start">
                        <h1>Политика конфиденциальности</h1>
                    </div>
                    <p class="text-start py-4">
                        Политика конфиденциальности
                        Настоящим я, далее – «Субъект Персональных Данных», во исполнение требований Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» (с изменениями и дополнениями) свободно, своей волей и в своем интересе даю свое согласие на обработку моих персональных данных, указанных при заполнении формы на сайте Компании https://newflat.site/ (далее – Сайт).<br>
                        Под персональными данными я понимаю любую информацию, относящуюся ко мне как к Субъекту Персональных Данных, в том числе мои фамилию, имя, отчество, адрес, контактные данные (телефон, факс, электронная почта, почтовый адрес), иную информацию. Под обработкой персональных данных я понимаю сбор, систематизацию, накопление, уточнение, обновление, изменение, использование, распространение, передачу, в том числе трансграничную, обезличивание, блокирование, уничтожение, бессрочное хранение), и любые другие действия (операции) с персональными данными.<br>
                        Обработка персональных данных Субъекта Персональных Данных осуществляется исключительно в целях регистрации Субъекта Персональных Данных в базе данных Компании с последующим направлением Субъекту Персональных Данных почтовых сообщений, телефонных звонков, в том числе рекламного содержания, от Компании, его аффилированных лиц и/или субподрядчиков, информационных и новостных рассылок и другой информации рекламно-новостного содержания.<br>
                        Датой выдачи согласия на обработку персональных данных Субъекта Персональных Данных является дата отправки регистрационной формы с Сайта Компании.<br>
                        Обработка персональных данных Субъекта Персональных Данных может осуществляться с помощью средств автоматизации и/или без использования средств автоматизации в соответствии с действующим законодательством РФ и внутренними положениями Компании.<br>
                        Компания принимает необходимые правовые, организационные и технические меры или обеспечивает их принятие для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных, а также принимает на себя обязательство сохранения конфиденциальности персональных данных Субъекта Персональных Данных. Компания вправе привлекать для обработки персональных данных Субъекта Персональных Данных субподрядчиков, а также вправе передавать персональные данные для обработки своим аффилированным лицам, обеспечивая при этом принятие такими субподрядчиками и аффилированными лицами соответствующих обязательств в части конфиденциальности персональных данных.<br>
                        Я ознакомлен(а), что:<br>
                        настоящее согласие на обработку моих персональных данных, указанных при заполнении формы на Сайте Компании, действует в течение 20 (двадцати) лет с момента заполнения формы на Cайте Компании;<br>
                        согласие может быть отозвано мною на основании письменного заявления в произвольной форме;<br>
                        предоставление персональных данных третьих лиц без их согласия влечет ответственность в соответствии с действующим законодательством Российской Федерации.<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('building') }}
{% endblock %}
