<div class="block-advertising">
    <noindex><div id="adv"></div></noindex>
    <script type="text/javascript" src="https://cdn.dante-research.com/scripts/dante-adv-frame.js"></script>
    <script>
        var frame = new DanteAdvFrame({container: '#adv',src: 'https://adv.dante-research.com/newflat.html',});
    </script>
</div>