<!DOCTYPE html>
<html class="h-100" lang="ru">
<head>
    {% block metaTag %}
        <meta name="description" content="Большой и удобный портал про новостройки Алматы и Алматинской области. От студий до пентхаусов. Все районы и сегменты жилья.">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NewFlat.kz - большой портал недвижимости!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

</head>
<body class="d-flex flex-column h-100">
{% block header %}
    {% include '_header.html.twig' %}
{% endblock %}

<main class="flex-shrink-0">
    {% block body %}{% endblock %}
</main>

{% block footer %}
    {% include '_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
