<!DOCTYPE html>
<html class="h-100" lang="ru">
<head>
    {% block metaTag %}
        <meta name="description" content="Большой и удобный портал про новостройки Алматы и Алматинской области. От студий до пентхаусов. Все районы и сегменты жилья.">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NewFlat.kz - большой портал недвижимости!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=9c89a3bb-1e7f-4595-bc37-97c1c6a00080&lang=ru_RU" type="text/javascript"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(91746726, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/91746726" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body class="d-flex flex-column h-100">
{% block header %}
    {% include '_header.html.twig' %}
{% endblock %}

<main class="flex-shrink-0">
    {% block body %}{% endblock %}
</main>

{% block footer %}
    {% include '_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
