{% extends 'base.html.twig' %}


{% block body %}
    <section class="section__catalog_page">
        <div class="main-page wrapper">
            <div class="container px-5">
                <div class="search-block row px-5">
                    <div class="col-12">
                        {% include '/filter/panel.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include '/main/reklama/reklama_block_1.html.twig' %}
    <div class="container mt-5 px-5">
        <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb" class="mx-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Новостройки на карте</li>
            </ol>
        </nav>
    </div>
    <section class="section__article">
        <div class="container p-3 px-5">
            <div class="d-flex mx-5 pb-4">
                <h2 class="me-auto text-start">Застройщики</h2>
            </div>
            <div class="list list-buildings text-start mx-5 pb-5">
                <div class="list_group"></div>
                {% if developers %}
                    {% for key, item in developers %}
                        <div class="list_group">
                            <h3>{{ key }}</h3>
                            {% for develop in item %}
                                <div class="list-group_item">
                                    <a class="text-decoration-none text-muted fs-6" href="{{ develop.detail }}">
                                        {{ develop.name }} <b class="fs-6">{{ develop.count }}</b>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}